@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    font-family: 'roboto', sans-serif;
    --scrollbarColor:rgba(98, 127, 178, 0.32);
    --scrollColor:rgba(100, 22, 26, 0.853);
}

.normal{background: #A8A77A;}
.fire{ background: #EE8130;}
.water{ background: #6390F0;}
.electric{ background: #F7D02C;}
.grass{ background: #7AC74C;}
.ice{ background: #96D9D6;}
.fighting{ background: #C22E28;}
.poison{ background: #A33EA1;}
.ground{ background: #E2BF65;}
.flying{ background: #A98FF3;}
.psychic{ background: #F95587;}
.bug{ background: #A6B91A;}
.rock{ background: #B6A136;}
.ghost{ background: #735797;}
.dragon{ background: #6F35FC;}
.dark{ background: #705746;}
.steel{ background: #B7B7CE;}
.fairy{ background: #D685AD;}



body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background: #080404;
    
}
body::-webkit-scrollbar {
    width: 15px;
  }
  body {
    scrollbar-width:thin;
    scrollbar-color: var(--scrollColor) var(--scrollbarColor);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarColor);

  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--scrollColor) ;
    border-radius: 15px;
    border: 1px solid var(--scrollbarColor);
  }
  
.topBar {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 806px;
    height: 104px;
    border-radius: 0px 0px 15px 15px;
    background: #03063770;
    border: 7px solid #72040895;
    border-top: none;
    overflow: scroll;
    overflow-x:auto;
    overflow-y: hidden;
}
.topBar::-webkit-scrollbar {
    height: 12px;


  }
.topBar::-webkit-scrollbar-track {
    background: #736d7b5c;
    border-radius: 0px 0px 8px 8px;
  }
.topBar::-webkit-scrollbar-thumb {
    background-color:  #741e20 ;
    border-radius: 15px;
    border: 1px solid #c83754;
    border-bottom: none;
}
.recentPoke{
    display:flex;
    align-items: center;

    margin-left: 10px;

}
.iconRecent {
    background-image: url(assets/undentified.png);
    background-blend-mode:multiply;
    background-position: center;
    background-size: 10vh;
    background-color: rgba(202, 37, 79, 0.501);
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    border: .7vh solid rgb(198, 15, 15);
    transition: all 100ms;

}
.iconRecent:hover{
    box-shadow: 0px 0px 4px 7px rgba(229, 38, 89, 0.808);
}

.iconRecent:hover{
    scale: 1.05;
    border-color:rgba(255, 255, 255, 0.765);
    cursor: pointer;
}



.iconRecent:active {
    transform: scale(1.1);
}

.mainBar {
    background: rgb(36, 29, 44);
    display: flex;
    flex-direction: row-reverse;
    margin-top: -60px;
    position: absolute;
    height: 30px;
    width: 1000px;
    border: 2px solid gray;
    border-radius: 10px;
    overflow: hidden;
    transition: 300ms;
}

.mainBar .select {
    width: 90%;

}

.mainBar .srch {
    color: transparent;
    background: white;
    width: 10%;
    border: none;
    border-radius: 0px 100px 0px 0px;
    cursor: pointer;
    transition: all 1s;
    text-align: center;
    background-image: url(assets/lupa.png);
    background-position: left;
    background-size: 30px;
    background-repeat: no-repeat;

}

input::placeholder {
    color: transparent;
}

input:focus::placeholder {
    color: gray;
}

.srch:focus {
    color: black;
    width: 60%;
    border: none;
    cursor: default;
    outline: none;

}
.idDex{
    margin-bottom: -5px;
    color: white;
    position: relative;
    font-size: 23px;
    top:450px;
    
}
.Dex {
    margin-top: 200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 1500px;
    max-height: 60%;
    gap: 35px;
    overflow: hidden;
    background-image: url(assets/Bgdex.png);
    background-size: 10%;
    border: 10px solid rgba(144, 24, 28, 0.818);
    border-radius: 30px;
    z-index: -1;

}

.dBg {
    margin-top: 150px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 290px;
    background: rgb(25, 24, 37);
    border: 3px solid rgb(56, 122, 58);
    border-radius: 20px; 
    background: linear-gradient(to bottom, #162e9751 1%, #21243184 40%, #22860ec1);
    transition: all 0.3s;
    z-index: 1;
    
}

.dBg:hover {
    scale: 1.05;
}

.dBg .Pokemon {
    display: flex;
    max-height: 70%;
}

.dBg .logo {
    display: flex;
    max-height: 100px;
    overflow: hidden;
    z-index: -2;
    bottom: 2;
    opacity: 0.5;
}
.dBg:hover .logo{
    position: absolute;
}

.name {
    font-size: 25px;
    color: white;
    font-weight: bold;

}

.types {
    display: flex;
    max-width: 100%;
    height: 35px;
    z-index: 2;
}

.types div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
    margin: 5px;
}

.info {
    margin-top: 10px;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 50px;
}

.info div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-weight: bold;
    color: white;
}

.Detalhe {
    background: #a70591df;
    color: #000000;
    border-radius: 7px;
    border-style: none;
    width: 40%;
    height: 10%;
    margin-bottom: 25px;
    margin-top: 15px;
    z-index: 2;
    transition: all 80ms;



}

.Detalhe:active{
    scale: 1.2;
    position: absolute;
    background-image: url(assets/heart.png);
    position: absolute;
    background: #da128a;
}

.Detalhe:hover {
    transform: scale(1.2);
    position: relative;
    background: #ff0090d7;
    cursor: pointer;
    outline: none;
}

.Next{
    background-color: #ff4c4c;

    border: 1vh solid rgba(21, 16, 16, 0.705);
    border-top: none;
    border-left: none;
    top:0;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    width: 10%;
    height: 4%;
    max-width: 100%;
    font-size:2vh;
    position: fixed;
    right: 9px;
    z-index: 999;
    transition: all 30ms;
    opacity: 0.7;
}

.Previous{
    background-color: #ff4c4c;

    border: 1vh solid rgba(21, 16, 16, 0.705);
    border-top: none;
    border-right: none;
    top:0;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    width: 10%;
    height: 4%;
    font-size:2vh;
    position: fixed;
    left: 9px;
    z-index: 999; 
    transition: transform 50ms; 
    opacity: 0.7;
}

.Previous:hover , .Next:hover{
    transform: scale(1.05);
    opacity: 1;
    cursor: pointer;
}

.Previous:active , .Next:active{
    transform: scale(1.1);
    background-color:  #6c2424;
    outline: none;
    border:none;
}

@media screen and (max-width : 900px){
    body::-webkit-scrollbar {
        width: 13px;
      }
    .topBar::-webkit-scrollbar {
        height: 10px;
      }
    .topBar{
        width: 645px;
    }
    .mainBar{
        width: 600px;
    }
    .Dex{
        width: 645px;
    }
    .dBg {
        margin-top: 165px;
        width: 180px;
        height: 270px;
    }
    .types > div {
        width: 40px;
    }
    .logo {
        width: 90%;
    }
}